// 对valine的默认样式进行调整 可见https://coder.itclan.cn/fontend/tools/vuepress-build-blog/#valine-%E6%A0%B7%E5%BC%8F%E7%9A%84%E4%BF%AE%E6%94%B9-%E9%80%82%E9%85%8D
#valine-vuepress-comment {
  max-width: 880px;
  margin: 0 auto;
}
// 兼容waline的样式
#valine-vuepress-comment .vheader .vheader-item:last-child {
  display: none;
}
#valine-vuepress-comment .vheader .vheader-item {
  width: 50%;
}
